body {
  font-family: Arial, sans-serif;
}

#program-info {
  margin-bottom: 20px;
}

.course-item {
  margin-bottom: 10px;
}

.course-item label {
  margin-left: 5px;
}

input[type="checkbox"]:disabled + label {
  color: grey;
}
