body {
  font-family: Arial, sans-serif;
}

#program-info {
  margin: 20px;
}

#course-list {
  margin: 20px;
}

.course-item {
  margin-bottom: 10px;
}

label {
  margin-left: 5px;
}

